.App-header {
  background-image: linear-gradient(to top left, #a517ba, #5f1732);
  width: 100%;
  &--nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top left, #a517ba, #5f1732);
    position: sticky;
    top: 0;
    // align-items: center;
    .bars-icon {
      margin: 1rem;
      display: none;
    }
    &-links {
      list-style: none;
      margin-top: 1rem;
      li {
        display: inline-block;
        padding-right: 2rem;
        a {
          text-decoration: none;
          color: #ccc;
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
  &--homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
  

  }
  &--wave {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
  }
}
.hompage--content {
  display: flex;
  flex-direction: column;
  // width: 100%;
  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #ccc;
    // padding-bottom: 4rem;
    span {
      text-transform: lowercase;
      font-size: 1.5rem;
      display: block;
      font-weight: 400;
      line-height: 120%;
      padding: 2rem 0;
    }
  }
  div {
    display: flex;
    align-items: center;
    color: #ccc;
    img {
      height: 4rem;
      margin-right: 2rem;
    }
  }
}
.App-logo {
  height: 4rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.home-img {
  width:50%;
}
/*=================================ABOUT SECTION======================================*/

/*--------------------HEADING-----------------------------------*/
.heading::before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 16rem;
  background-color: #5f1732;
  transform: translateY(5.4rem);
  margin-left: 4rem;
}
.heading::after {
  content: "";
  display: block;
  height: 0.6rem;
  width: 6rem;
  background-color: #5f1732;
  transform: translateY(0.8rem);
  margin-left: 9rem;
}
.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #222;
  font-weight: 400;
  margin-bottom: 2rem;
}
/*--------------------HEADING-----------------------------------*/
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 1px solid #5f1732;
  padding: 1rem 1.5rem;
  border-radius: 20rem;
  color: #ccc;
  background-image: linear-gradient(to right, #a517ba, #5f1732);
}
.About-section {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &--details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    &--detail {
      width: 30%;
      min-width: 20rem;
      text-align: center;
      padding: 2rem;
      img {
        width: 8rem;
        margin-bottom: 1rem;
      }
      div {
        h3 {
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
    }
  }
}

/*=================================why choose us=============================================================================*/
.why-section {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(247, 247, 247);
  .heading::before {
    margin-left: 7rem;
  }
  .heading::after {
    margin-left: 12rem;
  }
  &--content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 50%;
      float: right;
      padding-left: 10%;
      h1 {
        font-size: 4rem;
        font-weight: 400;
        margin-left: -5rem;
      }
      ul li {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
    img {
      width: 30%;
    }
  }
}
/*==========================client-section================================================================*/
.client-section {
  .heading::before {
    margin-left: 7rem;
  }
  .heading::after {
    margin-left: 12rem;
  }
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .clients {
    margin-top: 4rem;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    blockquote {
      // background: #f9f9f9;
      border-left: 0.3rem solid #a517ba;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      &:last-of-type {
        margin-left: 4rem;
      }
      &:before {
      }
      font-size: 1.5rem;
      font-weight: 300;
      .client-profile {
        display: flex;
        margin-top: 1.5em;
        // justify-content:space-between;
        align-items: center;
        img {
          width: 8rem;
          border-radius: 50%;
          margin-right: 1rem;
        }
        h4 {
          font-size: 1.3rem;
          // font-weight: 500;
          span {
            display: block;
            font-weight: 300;
          }
        }
      }
    }
  }
}
/*===========================social-media===============================================================*/
.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
   align-items: center;
  
  padding: 10rem 0;
  background-color: rgb(247, 247, 247);
  .heading::before {
    display: none;
  }
  .heading::after {
    display: none;
  }
  display: flex;
  flex-direction: column;

 .heading, div {
    display: flex;
    img {
      width: 8rem;
    }
  }
}
/*===========================FOOTER===============================================================*/
footer {
  img {
    width: 100%;
  }
  background-image: linear-gradient(to right, #a517ba, #5f1732);
  color: #ccc;
  // padding: 8rem 5rem 2rem 5rem;
  width: 100%;
  .footer-contents {
    padding-top: 5rem;
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    &--box {
      .btn {
        padding: 1rem 1.5rem;
        border-radius: 0.8rem;
        width: 65%;
      }
      font-size: 1.8rem;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      div {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        div {
          h5 {
            font-size: 1.5rem;
            font-weight: 300;
            margin-left: 1rem;
            margin-top: -1.2rem;
          }
          display: flex;
          align-items: center;
          img {
            width: 2.5rem;
          }
        }
      }
      h4 {
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
      img {
        width: 25%;
        margin-bottom: 2rem;
      }
      input {
        padding: 1rem 1.5rem;
        border-radius: 0.2rem;
        width: 100%;
        border: none;
        outline: none;
        margin-bottom: 2.2rem;
      }
    }
  }
  .footer-copyright {
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    margin-top: 4rem;
    margin-left: 10%;
    font-weight: 300;
    border-top: 1px solid #ccc;
    padding: 2rem;
  }
}

/*----------------------------TOGGLE BARS-----------------------------------------------*/
.toggle_bars {
  display: none;
}
/*----------------------------TOGGLE BARS-----------------------------------------------*/

/*=================================MEDIA QUERIES=======================================================*/
